
body {
	background-color: white;
	color:black;
}
.green { 
	color: #c6c386;
}
.pink { 
	color: #c3eee7;
}
.blue { 
	color: #5b391e;
}
.black {
	color: #66bbae;
}
.grey {
	background-color: #87c6c3;
}